@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --brown: #5d3d17;
    --light-brown: #c8570673;
    --beige: #71100724;
    --green: #43ff64d9;
}

html,
body{
    width: 100%;
    overflow-x: hidden;
}

.content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header{
    background-image: url("../../sources/images/assets/header-img.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
}

nav{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-background{
    width: 200px;
    height: 200px;
}

.header-slogan{
    width: 350px;
    height: 225px;
}

nav ul{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

nav ul button{
    border: 1px solid var(--brown);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--brown);
    font-weight: bold;
    border-radius: 4px;
}

nav ul button:hover{
    background-color: var(--brown);
    color: white;
    transition: 0.3s;
}

nav ul li{
    list-style: none;
    font-size: 18px;
}

nav ul li a{
    padding: 10px;
    cursor: pointer;
    color: var(--brown);
    font-weight: bold;
}

nav ul li a:hover{
    color: #5d3d17a7;
}

.brand{
    font-size: 34px;
    color: var(--brown);
}

.header-block{
    margin-top: 50px;
    background-image: url("../../sources/images/header-img.jfif");
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: #dedede9a;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    position: relative;
    z-index: 10;
}

.header-block img{
    max-width: 1000px;
    min-width: 300px;
    border-radius: 8px;
}

.header-block .text{
    position: absolute;
    right: 15%;
    top: 15%;
}

section .catalog{
    width: 100%;
    margin-top: 40px;
    padding: 100px;
}

.title-catalog{
    margin-top: 500px;
    padding-bottom: 20px;
}

#add-btn{
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    width: 20%;
    height: 50px;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#add-btn:hover{
    background-color: #31c84d;
    transition: 0.2s;
}

.catalog-card-block{
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 40px;
    padding: 50px;
    background-color: #71100724;
    border-radius: 8px;
}

section .card-item{
    height: 500px;
    max-width: 400px;
    min-width: 300px;
    background-color: var(--light-brown);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* flex: 1 1 30%; */
    transition: box-shadow 0.3s, transform 0.3s;
}

section .card-item:hover{
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 50%);
    transform: scale(1.05);
}

.card-content{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content h3{
    text-align: left;
    width: 90%;
}


.card-content p{
    width: 90%;
    font-style: italic;
    font-size: 16px;
    color: #00000070;
}

.card-item .card-img{
    height: 200px;
    width: 85%;
    border-radius: 8px;
}

.card-item .actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
}

.cart-btn{
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2em;
    width: 70%;
    height: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.cart-btn:hover{
    background-color: #31c84d;
    transition: 0.2s;
}

.bookmark-btn{
    background-color: #fffa01a3;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1em;
    width: 20%;
    height: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.bookmark-btn:hover{
    background-color: #fffa01;
    transition: 0.3s;
}

.edit-btn{
    background-color: #1111f499;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2em;
    width: 45%;
    height: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.edit-btn:hover{
    background-color: #0000ffe8;
    transition: 0.3s;
}

.delete-btn{
    background-color: #ff0000da;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2em;
    width: 45%;
    height: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #a20000;
    transition: 0.3s;
}

.about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content{
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    width: 35%;
    min-width: 300px;
    height: 100%;
    background-color: var(--beige);
    border-radius: 8px;
}

.right{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
}

.right h4{
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}

.right p{
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
}

.about-content p{
    text-align: right;
    font-size: medium;
}

.title-wrapper-features{
    padding: 20px 0px;
}

.features-card-block{
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
}

.features-card-item{
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #dedede3b;
    background: var(--light-brown);
    border-radius: 8px;
}

.features-text-content{
    max-width: 60%;
    margin: 5px;
}

.features-card-item img{
    width: 64px;
    height: 64px;
}

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--brown);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--light-brown);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    display: flex;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--beige);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    width: 50%;
}


.modal input{
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    padding: 8px;
    margin-bottom: 25px;
    background-color: var(--beige);
    font-size: 1em;
}

.modal label{
    width: 100%;
    font-size: 1.1em;
}

.modal button{
    border: none;
    border-radius: 14px;
    background-color: var(--brown);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.active{
    display: flex;
}

@media (max-width: 576px){
    nav ul li{
        display: none;
    }

    .header-block{
        background: transparent;
    }

    .header-block img{
        width: 100%;
        height: 100%;
        right: 16%;
        top: 30%;
    };

    .header-block .text{
        position: absolute;
        bottom: 80%;
        left: 15%;
    }

    .left{
        display: none;
    }

    .right{
        width: 100%;
    }

    .features-card-block{
        display: flex;
        flex-direction: column;
    }

    #add-btn{
        width: 45%;
    }

    .modal button{
        width: 90%;
    }
}